body{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:gainsboro;
}
h1{
    font-size: 100px;
    
    text-align: center;
}



#kg{
    margin-bottom: 3px;
}
label{
    font-size: 25px;
    margin-left: 35%;
}
p{
    font-size: 25px;
margin-left: 35%;
}